.DS_Store
public
resources
.idea
assets/indices/linkIndex.json
assets/indices/contentIndex.json
linkmap
content/Hive Mind/.obsidian
content/Hive Mind/.trash
content/Hive Mind/daily_notes
content/Hive Mind/TEMPLATES
content/Hive Mind/.gitignore
content/Hive Mind/README.md